h1 {
    font-size: 2em;
    font-weight: bold;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

a.link-in-text {
    color: #424242;
    text-decoration: underline dotted #c45911;
}

a.link-in-text:hover {
    text-decoration: underline #c45911;
}

@media screen and (orientation: landscape) {
    body {
        background-color: #fbe4d5;
        font-family: Bahnschrift;
        font-size: 1em;
        color: #c45911;
        margin: 0;
    }

    .mainDiv {
        height: 100vh;
        padding: 0 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        gap: 2em;
    }

    .intro {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2em;
    }
    .bio {
        width: 100%;
        border-right: 2px dashed #c45911;
    }
    .desc {
        color: #616161;
    }
    .image {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    #bio-image-landscape {
        height: 200px;
    }

    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    a.anchor-icons {
        color: #424242;
    }

    .icons {
        cursor: pointer;
    }
    .icons:hover {
        color:#c45911;
    }    

    .publication-and-projects {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 2em;
    }


    .publication {
        width: 100%;
        border-right: 2px dashed #c45911;
    }
    .publication-desc{
        padding-right: 0.5em;
    }
    .projects {
        width: 100%;
    }

    .only-in-portrait {
        display: none;
    }
}


@media screen and (orientation: portrait) {    

    body {
        background-color: #fbe4d5;
        font-family: Bahnschrift;
        color: #c45911;
        font-size: 1.0vw;
        margin: 0;
    }

    .section-parent {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: auto;
        gap: 2em;
        -webkit-overflow-scrolling: touch;
        &::-webkit-scrollbar {
          display: none;
        }
        scroll-snap-type: x mandatory;
    }

    .section {
        height: 100vh;
        width: 100vw;
        scroll-snap-align: start;
        scroll-snap-type: mandatory;
        display: flex;
        flex-direction: column;
        flex: 0 0 auto;
        overflow-y: clip;
    }

    .mainDiv {
        height: 100%;
        padding: 0 1em;
    }

    .intro {
        width: 100%;
    }
    .bio {
        width: 100%;
        justify-content: space-between;
        text-align: center;
    }
    .desc {
        color: #616161;
    }
    .image {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 2em;
    }
    .bio-image-parent{
        max-height: 200px;
        height: 40vw;
        padding-bottom: 2em;;
    }
    #bio-image {
      max-height: 100%;
      object-fit: cover;
      vertical-align: bottom;
      height: inherit;
    }
    .links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1em;
    }

    a.anchor-icons {
        color: #424242;
    }

    .icons {
        cursor: pointer;
        &.disabled {
            cursor: default;
            opacity: 0.4;
        }
    }
    .icons:hover {
        color:#c45911;
    }    

    .publication-and-projects {
        width: 100%;
    }


    .publication {
        width: 100%;
        justify-content: flex-start;
    }
    .publication-desc{
        padding-right: 0.5em;
    }
    .projects {
        width: 100%;
        justify-content: flex-start;
    }

    .only-in-landscape {
        display:none;
    }
}

.scroll-controls {
    position: fixed;
    bottom: 0.5em;
    left: 0;
    width: 100%;
}

.scroll-controls-container {
    display: flex;
    justify-content: space-between;
    padding: 0 1em;
}

.dot-container {
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.dot-div {
    background-color: #c45911;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.4;
    &.active {
        opacity: 1;
    }
}


@media screen and (orientation: portrait) and (width < 768px) {
    body {
        font-size: 3.8vw;
    }
}
@media screen and (orientation: portrait) and (width <= 480px) {
    body {
        font-size: 4.5vw;
    }
}