
body {
    background-color: #fbe4d5;
    font-family: Bahnschrift;
    color: #c45911;
}

.mainDiv {
    height: 100%;
    padding: 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2em;
}

.intro {
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    @media (orientation: portrait) {
        padding-bottom: 2em;
        border-bottom: 2px dashed #c45911;
    }
}
.bio {
    width: 100%;
    @media (orientation: landscape) {
        border-right: 2px dashed #c45911;
    }
}
.desc {
    color: #616161;
}
.image {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}
.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

a.anchor-icons {
    color: #424242;
}

a.link-in-text {
    color: #424242;
    text-decoration: none;
}

a.link-in-text:hover {
    text-decoration: underline;
}

.icons {
    cursor: pointer;
}
.icons:hover {
    color:#c45911;
}    

.publication-and-projects {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    @media (orientation: portrait) {
        flex-direction: column;
    }
}


.publication {
    width: 100%;

    @media (orientation: landscape) {
        border-right: 2px dashed #c45911;
    }

    @media (orientation: portrait) {
        padding-bottom: 2em;
        border-bottom: 2px dashed #c45911;
    }
}
.publication-desc{
    padding-right: 0.5em;
}
.projects {
    width: 100%;
}